<!DOCTYPE html>
<html lang="en">`

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Unlocked</title>
    <!-- Sources -->
    <link rel="stylesheet" href="../css/include0.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/interested-m.css">
    <link rel="stylesheet" href="css/unlocked.css">
    <script src="js/navbar.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../../public/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../public/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../public/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../public/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../public/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../public/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../public/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../public/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../public/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../../public/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../../public/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../public/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../../public/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="main-container">

        <!-- NavBar Starts -->
        <div class="sidenav">
            <div class="nav-menu">
                <!-- Nav Header -->
                <div class="nav-header">
                    <div class="nav-logo">
                        <img src="../../../public/images/favicon/favicon-96x96.png" />
                        <div class="nav-logo-title">Skill-Lancer</div>
                    </div> <br />
                    <hr />
                </div>

                <!-- Nav-Links -->
                <div class="nav-links">
                    <ul class="listed-menu">
                        <li class="nl-mlarge curact">
                            <span class="myp-exp">
                                <i class="fa-regular fa-house"></i> Dashboard
                                <span class="angle-dwn-lister"><i
                                        class="fa-regular fa-angle-right mypr-expicon downed"></i></span>
                            </span>
                            <ul class="sub-list-student mypr-exp downed">
                                <a href="../interested">
                                    <li><i class="fa-regular fa-circle-dot"></i>Interested</li>
                                </a>
                                <a href="../in_enquires">
                                    <li><i class="fa-regular fa-circle-dot"></i>Personal Enquires</li>
                                </a>
                                <a href="../unlocked">
                                    <li><i class="fa-regular fa-circle-dot"></i>Unlocked Details</li>
                                </a>
                            </ul>
                        </li>

                        <a href="../my_students">
                            <li class="active">
                                <i class="fa-regular fa-user-group"></i> My Students
                            </li>
                        </a>
                        <a href="../my_courses">
                            <li>
                                <i class="fa-regular fa-list-dropdown"></i> Manage Courses
                            </li>
                        </a>
                        <a href="../my-profile">
                            <li>
                                <i class="fa-regular fa-user-vneck"></i> My Profile
                            </li>
                        </a>
                        <a href="../purchase-history.html">
                            <li>
                                <i class="fa-regular fa-wallet"></i> Purchases
                            </li>
                        </a>
                        <a href="../coin-packs.html">
                            <li class="coins-spl-menu">
                                <i class="fa-regular fa-coins"></i> Buy Coins
                            </li>
                        </a>
                        <a href="../dguide.html">
                            <li>
                                <i class="fa-regular fa-circle-info"></i> Dashboard Guide
                            </li>
                        </a>

                        <div style="text-decoration: underline;margin-top: 15px;"><a style="color: #f14848;"
                                href="../report.html"><b>Report Issues</b></a></div>
                    </ul>
                </div>
            </div>
            <script>
                //Expande Menu 1
                $('.myp-exp').click(function () {
                    $('.mypr-exp').toggleClass('downed');
                    $('.mypr-expicon').toggleClass('downed');
                    $('.curact').toggleClass('active');
                })
            </script>
        </div>
        <!-- NavBar ends -->

        <div class="contents">
            <div class="all">
                <div class="dash-header">
                    <div style="width:3em;height:3em;margin: auto 5px auto 1em;border-radius: 50px;"><img
                            style="width: 3em;height:3em" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
                    </div>
                    <div style="font-size: 1.5em; margin: auto 0; font-weight: 500"><%=name%> <span
                            style="color: #808080">(Tutor)</span></div>
                    <div style="font-size:1.2em;font-weight:400;margin: auto 1em auto auto"><b><%=coins%></b> Coins available
                        <a href="coin-packs.html">
                            <button
                                style=" padding: 0.3em 0.5em; background-color: #ffff00; border: 1px solid #000;margin-left: 0.8em;cursor: pointer">Buy
                                Coins
                            </button></a>
                    </div>
                </div>
                <div class="home-contents">
                    <div class="main-box-a">
                        <div class="stb-ul">
                            <a class="active" style="background-color: #87d5f4 !important;"
                                href="interested.html">Manage Student</a>
                        </div>
                        <div class="interested-std-list">
                            <div class="ist-1">
                                <div class="std-prf"><img src="https://img.icons8.com/officel/512/name.png"></div>
                                <div class="std-details">
                                    <div style="font-size: 1.6em;font-weight: 500;">Deepak Kumar</div>
                                    <div style="font-size: 1.2em;font-weight: 500;">Web Development</div>
                                    <div style="font-size: 1.1em">Pursuing Degree</div>
                                    <div style="font-size: 1em">Posted: 10 Feb 2023</div>
                                </div>
                                <div class="req-btns done">
                                    <button>
                                        Email: <a href="mailto:mail@gmail.com">usermail@gmail.com</a><br>
                                        Mobile: <a href="tel:+911234567890">+91 12345 67890</a><br>
                                        WhatsApp: <a href="wa.me/+91123467890">+91 12346 7890</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="req-btns btn-btm-ulp" style="margin: 0 0.5rem;">
                            <button style="padding: 10px;margin: 0 1.5rem;">Mark Course as Completed</button>
                            <button style="padding: 10px;margin: 0 1.5rem;background-color: tomato;">Remove Student</button>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>